<div class="card">
  <div class="card-header d-flex align-items-center">
    <div class="dropdown me-2">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Buscar por {{filterSelected.title}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let option of filterOptions">
          <a class="dropdown-item" (click)="selectFilter(option)">{{option.title}}</a>
        </li>
      </ul>
    </div>
    <div class="input-group ml-3 ps-0">
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="Filtro">
      <div class="input-group-append ms-3">
        <button class="btn btn-outline-secondary" type="button" (click)="searchUser()">Buscar</button>
      </div>
    </div>
  </div>
  <div class="table-responsive ms-3">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>DNI</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Cobertura Médica</th>
        <th>Cel</th>
        <th>Dr.</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of records">
        <td class="align-middle"><div>{{record.patientDni}}</div></td>
        <td class="align-middle">{{record.patientLastname}}</td>
        <td class="align-middle">{{record.patientName}}</td>
        <td class="align-middle">{{record.healthInsurances}}</td>
        <td class="align-middle">{{record.patientPhoneNumber}}</td>
        <td class="align-middle">{{record.doctorName}}</td>
        <td class="align-middle"><button class="btn btn-custom btn-sm">Detalles</button></td>
        <td class="align-middle"><button class="btn btn-add btn-sm" (click)="addToLine(record)">+</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
