/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #1A237E;
  --primary-hover-color: #2e3681;
  --secondary-color: rgba(92, 107, 192, 1);
  --secondary-hover-color: rgba(92, 107, 192, 0.8);

}

